body{
    margin: 0;
    padding: 0;
    background: url(rit.jpeg);
    background-size: cover;
    font-family: sans-serif;
}
.login{
    width: 320px;
    height: 420px;
    background: rgb(135, 209, 222);
    top: 50%;
    left: 50%;
    color: beige;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
    color: black;
    
}
.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;
}
.login input{
    width: 100%;
    margin-bottom:20px ;
}
.login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
}
.login input[type="submit"]{
    border: 0;
    outline: 0;
    height: 30px;
    background: yellow;
    color: #030303;
    font-size: 18px;
}
.login input[type="submit"]:hover{
    cursor: pointer;
    background: blanchedalmond;
    
}
.login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(255, 0, 0);

}
.login a:hover{
    color: rgb(55, 0, 255);
}
